<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiquding.safeKeyboard.dao.mapper.UserPasswordMapper">

    <select id="selectOneByUserId" parameterType="string" resultType="com.weiquding.safeKeyboard.dao.model.UserPasswordModel">
        SELECT
          id,
          userid,
          password,
          status,
          verifydate,
          errortimes,
          createtime,
          updatetime
        FROM
          user_password
        WHERE
          userid=#{userid}
    </select>

    <update id="updateUserPassword" parameterType="com.weiquding.safeKeyboard.dao.model.UserPasswordModel">
        UPDATE
            user_password
        SET
            status=#{status},
            verifydate=now(),
            errortimes=errortimes+1
        where
          userid=#{userid}
    </update>

    <update id="resetUserPassword" parameterType="com.weiquding.safeKeyboard.dao.model.UserPasswordModel" >
        UPDATE
            user_password
        SET
            status=#{status},
            verifydate=now(),
            errortimes=#{errortimes}
        where
          userid=#{userid}
    </update>


</mapper>
